<%= render 'layouts/header' %>
<div class="ui container segment">
  <h1 class="ui center aligned header">Team JD 8112</h1>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="eight wide column">
        <strong>Project: </strong>CapVote
      </div>
      <div class="eight wide column">
        <strong>Team Members: </strong>Will, Zach, Alex, Sean, Shourya, Andrew
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <strong>Description/Goal: </strong>To create an app for the capstone design expo that will allow users to find more informmation on projects and vote on them
      </div>
    </div>
  </div>

  <h3 class="ui dividing header">Comments</h3>

  <div class="ui feed">
    <div class="event">
      <div class="label">
        <%= image_tag "https://d2wnxi2v4fzw0h.cloudfront.net/assets/fallback/preview_default_profile.png" %>
      </div>
      <div class="content">
        <div class="summary">
          Bob Waters commented
          <div class="date">
            <%= time_ago_in_words(Time.now - 15.hours) %> ago on <%= Time.now - 15.hours %>
          </div>
        </div>
        <div class="ui segment">
          This is the bestest project at the fair!!!111oneoneone
        </div>
      </div>
    </div>
  </div>
  <div class="ui container segment">
    <form class="ui form error">
      <div class="form">
        <div class="fields">
          <div class="required sixteen wide field">
            <label>Comment</label>
            <textarea placeholder="Insert gibberish here">
              This doesn't have DB backing so nothing will be saved
            </textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="ui equal width grid">
      <div class="row">
        <div class="column">
          <%= link_to "Submit Comment", demo_team_home_path(), :class=> "ui blue fluid button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
