<table class="ui celled very compact striped table">
  <tr>
    <th align="center">Team</th>
    <th align="center">Project Name</th>
    <th align="center">Actions</th>
    <% if @projects && @projects.count != 0 %>
      <% @projects.each do |project| %>
      <tr>
        <td style="text-align:center;"><%= project.team %></td>
        <td style="text-align:center;"><%= project.name %></td>
        <td style="text-align:center;">
          <% if policy(project).bookmark? %>
            <%= link_to bookmarkIcon(project, current_user), bookmarks_bookmark_path(project, :user_id => current_user, :project_id => project), class: 'bookmark', method: :post, :remote => true %>
          <% end %>
          <%= link_to "Show", project_path(project), :class => "ui primary small button" %>
          <% if policy(project).update? %>
            <%= link_to "Edit", edit_project_path(project), :class => "ui green small button" %>
          <% end %>
          <% if policy(project).destroy? %>
            <%= link_to "Delete", project_path(project), method: :delete, :class => "ui red small button", data: { confirm: 'Delete team?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3" style="text-align:center;">
        <div class="ui fluid white label">
          No current projects
        </div>
      </td>
    </tr>
  <% end %>
  </tr>
</table>