<%= flash[:notice] %>
<% if !@voting_enabled %>
  <h3 class="ui red center aligned header">Voting Disabled</h3>
<% end %>
<table class="ui celled very compact striped table">
  <tr>
    <th align="center">Team</th>
    <th align="center">Project Name</th>
    <% if policy(:project).view_votes? %>
      <th align="center">Votes</th>
    <% end %>
    <th align="center">Actions</th>
    <% @voting_enabled && if policy(:project).vote? %>
      <th align="center">Vote</th>
    <% end %>
  </tr>
    <% if @projects && @projects.count != 0 %>
      <% if policy(:project).view_votes? %>
        <% @projects.each do |project| %>
          <tr>
            <td style="text-align:center;"><%= project.team %></td>
            <td style="text-align:center;"><%= project.name %></td>
            <td style="text-align:center;"><%= project.vote_count %></td>
            <td style="text-align:center;">
              <%= link_to bookmarkIcon(project, current_user), bookmarks_bookmark_path(project, :user_id => current_user, :project_id => project), class: 'bookmark', method: :post, :remote => true %>
              <%= link_to "Show", project_path(project), :class => "ui primary small button" %>
              <%= link_to "Edit", edit_project_path(project), :class => "ui green small button" %>
              <%= link_to "Delete", project_path(project), method: :delete, :class => "ui red small button", data: { confirm: 'Delete team?' } %>
            </td>
            <% if @voting_enabled && policy(:project).vote? %>
              <td style="text-align:center;">
                <% if project.voted_by.include?(current_user.id) %>
                  <i class="checkmark box icon large color: blue"></i>
                <% else %>
                  <%= button_to '+1',
                    project_votes_path(
                      project,
                      :project_id => project.id,
                      :user_id => current_user.id,
                    :yes => 1),
                    method: :post,
                    :class => "ui primary small button" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% @projects.each do |project| %>
        <tr>
          <td style="text-align:center;"><%= project.team %></td>
          <td style="text-align:center;"><%= project.name %></td>
          <td style="text-align:center;">
            <%= link_to bookmarkIcon(project, current_user), bookmarks_bookmark_path(project, :user_id => current_user, :project_id => project), class: 'bookmark', method: :post, :remote => true %>
            <%= link_to "Show", project_path(project), :class => "ui primary small button" %>
          </td>
          <% if @voting_enabled && policy(:project).vote? %>
            <td style="text-align:center;">
              <% if project.voted_by.include?(current_user.id) %>
                <i class="checkmark box icon large color: blue"></i>
              <% else %>
                <%= button_to '+1',
                  project_votes_path(
                    project,
                    :project_id => project.id,
                    :user_id => current_user.id,
                    :yes => 1),
                    method: :post,
                    :class => "ui primary small button" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4" style="text-align:center;">
        <div class="ui fluid white label">
          No current projects
        </div>
      </td>
    </tr>
  <% end %>
  </tr>
</table>
<% if policy(:project).view_votes? %>
<div>
  <%= link_to "Create Voting Report", project_voting_pdf_path(@projects, :format => :pdf), :class => "ui fluid button" %>
</div>
<% end %>
</br>
<% if policy(:project).create? %>
  <div class="ui row">
    <%= link_to 'Add a New Project', new_project_path, :class => "ui primary fluid button" %>
  </div>
<% end %>

<br>
<div>
  <% if policy(:project).create? %>
  <h4> Bulk import projects CSV </h4>
    <%= form_tag import_projects_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  <% end %>
</div>
</br>
