<body>
<div class="ui stackable menu">
  <div class="ui container">
    <%= link_to "Home", root_path, class:"item" %>
    <% if current_user %>
      <% if !policy(:user_role).bookmark? %>
        <div class="ui dropdown item">
          Management
          <i class="dropdown icon"></i>
          <div class="menu">
            <% if policy(:user_role).index? %>
              <%= link_to 'Manage user roles', user_roles_path, class:"item" %>

              <!-- TODO: call remove_visitors method from this link -->
              <%= link_to 'Remove Visitors', users_path, method: :remove_visitors,
               class:"item", data: { confirm: "Remove all visitors from the database?" } %>
            <% else %>
              <div class="item">
                Please join your project
              </div>
            <% end %>
            <% if policy(:user_role).update? %>
              <%= link_to 'Expo Settings', expo_settings_path, :class => "item" %>
              <%= link_to 'Expo Map', {:controller => "expo_maps", :action => "index"}, :class => "item" %>
          <% end %>
          </div>
        </div>
      <% end %>
      <% if policy(:user_role).bookmark? %>
        <%= link_to "Bookmarks", bookmarks_path, class:"item" %>
        <%= link_to 'Expo Map', expo_maps_path, :class => "item" %>
       <% end %>
    <% end %>
  </div>
  <% if current_user %>
    <div class="right menu">
      <%= link_to 'Log Out', signout_path, class:"item" %>
    </div>
  <% end %>
</div>
<section style="padding: 30px 0px; min-height: 87%;" id="main">
